{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href = {{ asset('bundles/css/jquery-ui.min.css') }} rel = "stylesheet"/>
	<link href = {{ asset('bundles/css/jquery-ui.structure.min.css') }} rel = "stylesheet"/>
	<link href = {{ asset('bundles/css/jquery-ui.theme.min.css') }} rel = "stylesheet"/>
	
	<style>
 		
 		#quesera{
 			position: absolute;
 			width: 25px;
 			height: 25px;
 			z-index: 1;
 			border: 1px solid black;
 			border-radius: 100%;
 			background: black;
 		}
		
		#c1{
            border-style: solid;
            border-width: 5px 10px 5px 0;
            border-color: transparent transparent transparent transparent;
            position: absolute;
            border-bottom-right-radius: 50px;
            border-top-right-radius: 50px;
            right: 1px;
            bottom: 7px;
 		}
		
 		#c2{
            border-style: solid;
            border-width: 5px 10px 5px 0;
            border-color: transparent transparent transparent transparent;
            position: absolute;
            border-bottom-right-radius: 50px;
            border-top-right-radius: 50px;
            transform: rotate(-55deg);
            margin: 3px;
            right: 1px;
 		}
		
 		#c3{
            border-style: solid;
            border-width: 5px 10px 5px 0;
            border-color: transparent transparent transparent transparent;
            position: absolute;
            border-bottom-right-radius: 50px;
            border-top-right-radius: 50px;
            transform: rotate(-125deg);
            margin: 3px;
            top: 0;
            left: 1px;
 		}
		
 		#c4{
            border-style: solid;
            border-width: 5px 10px 5px 0;
            border-color: transparent transparent transparent transparent;
            position: absolute;
            border-bottom-right-radius: 50px;
            border-top-right-radius: 50px;
            bottom: 0px;
            left: 2px;
            transform: rotate(125deg);
            margin: 2px;
 		}
		
 		#c5{
            border: solid;
            border-style: solid;
            border-width: 5px 10px 5px 0;
            border-color: transparent transparent transparent transparent;
            position: absolute;
            border-bottom-right-radius: 50px;
            border-top-right-radius: 50px;
            bottom: 0;
            right: 2px;
            transform: rotate(55deg);
            margin: 2px;
 		}
		
 		#c6{
            border-style: solid;
            border-width: 5px 10px 5px 0;
            border-color: transparent transparent transparent transparent;
            position: absolute;
            border-bottom-right-radius: 50px;
            border-top-right-radius: 50px;
            bottom: 7px;
            left: 1px;
            transform: rotate(180deg);
 		}
	</style>

{% endblock %}

{% block body %}
	
	<div id = "numPlayers">
    	<label for = "players">Numero de Jugadores</label>
        <select name = "players" id = "players">
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
        <button id="add-players">Empezar partida</button>
    </div>


	<img id = "tablero" class = "map" src = {{ asset('bundles/img/tablero.jpg') }} width = "500" height = "500" border = "0" alt = "" usemap = "#Map" ondragstart = "return false;"/>
	
    <div id = "quesera">
    	<label id = "c1"></label>
    	<label id = "c2"></label>
    	<label id = "c3"></label>
    	<label id = "c4"></label>
    	<label id = "c5"></label>
    	<label id = "c6"></label>
    </div>

    <div id = "tirada"></div>
    
    <button id = "dau">Tiremos los dados!</button>
    
    <map name = "Map" id = "Map" >
    
    	<!-- Centro -->
        <area id = "center" class = "centro" alt="" title="" href="#" shape="poly" coords="248,196,293,221,293,273,249,298,205,273,204,223" />
        
        <!-- ------------------------------------------------------------------------------------------------------------------------------	-->
        <!-- FILAS																											 				-->
        <!-- ------------------------------------------------------------------------------------------------------------------------------ -->
        
        <!-- Primera fila (Este del centro)-->
        <area id = "inside-east-1" class = "naranja" alt="" title="" href="#" shape="poly" coords="296,223,296,271,324,271,324,225" />
        <area id = "inside-east-2" class = "rosa" alt="" title="" href="#" shape="poly" coords="328,270,328,223,356,224,356,271" />
        <area id = "inside-east-3" class = "verde" alt="" title="" href="#" shape="poly" coords="360,272,359,224,387,225,387,271" />
        <area id = "inside-east-4" class = "azul" alt="" title="" href="#" shape="poly" coords="390,270,390,222,418,223,420,270" />
        <area id = "inside-east-5" class = "marron" alt="" title="" href="#" shape="poly" coords="422,270,420,222,448,223,451,269" />
        <area id = "inside-east-6" class = "quesoAmarillo" alt="" title="" href="#" shape="poly" coords="454,222,494,218,496,275,454,270" data-maphilight='{"shadow":true,"fill":false}'/>
        
        <!-- Segunda fila (Sureste del centro)-->
        <area id = "inside-southeast-1" class = "amarillo" alt="" title="" href="#" shape="poly" coords="252,303,295,278,307,302,267,327" />
        <area id = "inside-southeast-2" class = "verde" alt="" title="" href="#" shape="poly" coords="267,329,309,306,324,330,282,354" />
        <area id = "inside-southeast-3" class = "marron" alt="" title="" href="#" shape="poly" coords="283,357,326,332,339,357,298,381" />
        <area id = "inside-southeast-4" class = "naranja" alt="" title="" href="#" shape="poly" coords="299,383,341,360,356,385,314,408" />
        <area id = "inside-southeast-5" class = "azul" alt="" title="" href="#" shape="poly" coords="316,411,358,387,371,412,330,435" />
        <area id = "inside-southeast-6" class = "quesoRosa" alt="" title="" href="#" shape="poly" coords="331,437,372,414,397,447,348,475" />
        
        <!-- Tercera fila (Suroeste centro) -->
        <area id = "inside-southwest-1" class = "rosa" alt="" title="" href="#" shape="poly" coords="204,276,245,303,232,325,190,302" />
        <area id = "inside-southwest-2" class = "marron" alt="" title="" href="#" shape="poly" coords="188,305,230,328,216,354,175,329" />
        <area id = "inside-southwest-3" class = "azul" alt="" title="" href="#" shape="poly" coords="172,333,214,357,200,380,160,357" />
        <area id = "inside-southwest-4" class = "amarillo" alt="" title="" href="#" shape="poly" coords="157,359,200,383,186,408,144,384" />
        <area id = "inside-southwest-5" class = "naranja" alt="" title="" href="#" shape="poly" coords="142,386,184,410,170,435,128,411" />
        <area id = "inside-southwest-6" class = "quesoVerde" alt="" title="" href="#" shape="poly" coords="127,414,168,437,152,476,103,447" />
        
        <!-- Cuarta fila (Oeste del centro) -->
        <area id = "inside-west-1" class = "verde" alt="" title="" href="#" shape="poly" coords="200,272,172,272,172,226,199,225" />
        <area id = "inside-west-2" class = "azul" alt="" title="" href="#" shape="poly" coords="141,224,169,224,170,271,141,271" />
        <area id = "inside-west-3" class = "naranja" alt="" title="" href="#" shape="poly" coords="110,225,138,225,138,272,110,273" />
        <area id = "inside-west-4" class = "rosa" alt="" title="" href="#" shape="poly" coords="79,225,79,272,108,273,108,225" />
        <area id = "inside-west-5" class = "amarillo" alt="" title="" href="#" shape="poly" coords="48,225,48,273,76,273,77,225" />
        <area id = "inside-west-6" class = "quesoMarron" alt="" title="" href="#" shape="poly" coords="6,221,46,225,45,272,6,278" />
        
        <!-- Quinta fila (Noroeste del centro) -->
        <area id = "inside-northwest-1" class = "marron" alt="" title="" href="#" shape="poly" coords="190,195,231,170,246,194,202,220" />
        <area id = "inside-northwest-2" class = "naranja" alt="" title="" href="#" shape="poly" coords="173,168,216,143,230,167,188,191" />
        <area id = "inside-northwest-3" class = "amarillo" alt="" title="" href="#" shape="poly" coords="159,143,200,119,214,140,172,166" />
        <area id = "inside-northwest-4" class = "verde" alt="" title="" href="#" shape="poly" coords="144,115,185,92,199,115,156,140" />
        <area id = "inside-northwest-5" class = "rosa" alt="" title="" href="#" shape="poly" coords="128,89,168,64,182,88,141,112" />
        <area id = "inside-northwest-6" class = "quesoAzul" alt="" title="" href="#" shape="poly" coords="167,60,151,24,102,54,126,84" />
       
        
        <!-- Sexta fila (Noreste del centro) -->
        <area id = "inside-northeast-1" class = "azul" alt="" title="" href="#" shape="poly" coords="252,194,265,169,307,194,294,218" />
        <area id = "inside-northeast-2" class = "amarillo" alt="" title="" href="#" shape="poly" coords="266,168,280,143,324,167,310,191" />
        <area id = "inside-northeast-3" class = "rosa" alt="" title="" href="#" shape="poly" coords="282,139,296,117,337,140,325,165" />
        <area id = "inside-northeast-4" class = "marron" alt="" title="" href="#" shape="poly" coords="299,113,311,89,353,112,340,136" />
        <area id = "inside-northeast-5" class = "verde" alt="" title="" href="#" shape="poly" coords="314,86,328,61,369,84,355,109" />
        <area id = "inside-northeast-6" class = "quesoNaranja" alt="" title="" href="#" shape="poly" coords="328,60,344,22,394,50,370,82" />
        
        <!-- ------------------------------------------------------------------------------------------------------------------------------ -->
        <!-- BORDES 																														-->
        <!-- ------------------------------------------------------------------------------------------------------------------------------ -->
        
        <!-- Primer borde (Sur del queso amarillo) -->
        <area id = "outside-southeast-1" class = "marron" alt="" title="" href="#" shape="poly" coords="455,274,494,279,490,309,449,299" />
        <area id = "outside-southeast-2" class = "blanco" alt="" title="" href="#" shape="poly" coords="449,302,488,311,480,340,441,324" />
        <area id = "outside-southeast-3" class = "verde" alt="" title="" href="#" shape="poly" coords="439,327,478,343,466,370,429,350" />
        <area id = "outside-southeast-4" class = "naranja" alt="" title="" href="#" shape="poly" coords="414,373,427,352,463,373,447,398" />
        <area id = "outside-southeast-5" class = "blanco" alt="" title="" href="#" shape="poly" coords="396,395,413,376,444,401,426,422" />
        <area id = "outside-southeast-6" class = "azul" alt="" title="" href="#" shape="poly" coords="376,411,395,394,422,424,399,442" />
        
        <!-- Segundo borde (Oeste del queso rosa)-->
        <area id = "outside-south-1" class = "azul" alt="" title="" href="#" shape="poly" coords="306,447,328,441,343,477,317,487" />
        <area id = "outside-south-2" class = "blanco" alt="" title="" href="#" shape="poly" coords="279,452,302,446,311,486,286,492" />
        <area id = "outside-south-3" class = "marron" alt="" title="" href="#" shape="poly" coords="251,455,276,455,280,494,253,494" />
        <area id = "outside-south-4" class = "amarillo" alt="" title="" href="#" shape="poly" coords="223,453,248,455,248,495,218,494" />
        <area id = "outside-south-5" class = "blanco" alt="" title="" href="#" shape="poly" coords="198,449,220,453,215,492,187,487" />
        <area id = "outside-south-6" class = "naranja" alt="" title="" href="#" shape="poly" coords="173,439,194,448,184,487,157,477" />
        
        <!-- Tercer borde (Noroeste del queso verde) -->
        <area id = "outside-southwest-1" class = "naranja" alt="" title="" href="#" shape="poly" coords="100,443,78,424,106,395,123,412" />
        <area id = "outside-southwest-2" class = "blanco" alt="" title="" href="#" shape="poly" coords="57,401,88,377,102,393,76,421" />
        <area id = "outside-southwest-3" class = "azul" alt="" title="" href="#" shape="poly" coords="38,374,72,353,84,373,53,399" />
        <area id = "outside-southwest-4" class = "rosa" alt="" title="" href="#" shape="poly" coords="23,344,60,328,68,350,37,370" />
        <area id = "outside-southwest-5" class = "blanco" alt="" title="" href="#" shape="poly" coords="14,314,50,304,58,324,22,339" />
        <area id = "outside-southwest-6" class = "amarillo" alt="" title="" href="#" shape="poly" coords="7,281,46,276,50,299,12,310" />
       
        <!-- Cuarto borde (Norte del queso marron) -->
        <area id = "outside-northwest-1" class = "amarillo" alt="" title="" href="#" shape="poly" coords="6,217,12,189,50,200,47,224" />
        <area id = "outside-northwest-2" class = "blanco" alt="" title="" href="#" shape="poly" coords="13,185,22,159,58,174,52,196" />
        <area id = "outside-northwest-3" class = "naranja" alt="" title="" href="#" shape="poly" coords="23,155,37,130,71,150,60,172" />
        <area id = "outside-northwest-4" class = "verde" alt="" title="" href="#" shape="poly" coords="39,125,54,101,85,126,73,146" />
        <area id = "outside-northwest-5" class = "blanco" alt="" title="" href="#" shape="poly" coords="57,99,74,78,103,106,88,122" />
        <area id = "outside-northwest-6" class = "rosa" alt="" title="" href="#" shape="poly" coords="77,74,99,56,121,86,105,103" />
        
        <!-- Quinto borde (Este del queso azul) -->
        <area id = "outside-north-1" class = "rosa" alt="" title="" href="#" shape="poly" coords="155,24,181,14,192,52,170,59" />
        <area id = "outside-north-2" class = "blanco" alt="" title="" href="#" shape="poly" coords="186,13,211,9,218,46,196,52" />
        <area id = "outside-north-3" class = "amarillo" alt="" title="" href="#" shape="poly" coords="217,7,245,5,247,44,222,46" />
        <area id = "outside-north-4" class = "marron" alt="" title="" href="#" shape="poly" coords="248,5,277,7,273,45,248,44" />
        <area id = "outside-north-5" class = "blanco" alt="" title="" href="#" shape="poly" coords="281,7,310,10,299,46,278,46" />
        <area id = "outside-north-6" class = "verde" alt="" title="" href="#" shape="poly" coords="314,13,339,22,326,59,302,51" />
        
        <!-- Sexto borde (Suroeste del queso naranja) -->
        <area id = "outside-northeast-1" class = "verde" alt="" title="" href="#" shape="poly" coords="372,84,397,52,418,71,391,99" />
        <area id = "outside-northeast-2" class = "blanco" alt="" title="" href="#" shape="poly" coords="394,102,423,75,441,95,410,119" />
        <area id = "outside-northeast-3" class = "rosa" alt="" title="" href="#" shape="poly" coords="412,123,444,98,460,122,426,144" />
        <area id = "outside-northeast-4" class = "azul" alt="" title="" href="#" shape="poly" coords="428,147,463,126,476,151,438,169" />
        <area id = "outside-northeast-5" class = "blanco" alt="" title="" href="#" shape="poly" coords="440,170,478,155,487,182,450,192" />
        <area id = "outside-northeast-6" class = "marron" alt="" title="" href="#" shape="poly" coords="448,194,488,184,494,214,455,219" />
    </map>	

{% endblock %}

{% block javascripts %}
	<script src = {{ asset('bundles/js/jquery-3.1.1.min.js') }}></script>
	<script src = {{ asset('bundles/js/jquery-ui.min.js') }}></script>
	<script src = {{ asset('bundles/js/underscore-min.js') }}></script>
	<script src = {{ asset('bundles/js/jquery.maphilight.min.js') }}></script>

	<script>

// 		Reglas a implementar
//////////////////////////////////
//			- Se gana cuando se consigue los 6 quesos. No se volvera al centro para la ronda final de preguntas.

		var playerPos, positions = [], cont = 0, superArray = [], rules;
		
		$(document).ready(function(){

			$(function(){
				$('.map').maphilight();
			});

			forkRules();
			
// 			console.log(rules);
	        
// 			$("#numPlayers").dialog();

// 			$("#add-players").click(function(){
// 				$("#numPlayers").dialog("close");
				
				$("area").each(function() {
					buildArray($(this).attr("id"));
					cont++;
				});
				
// 				console.log(positions);

				playerPos = positions[0][0];

				$("#quesera").css({
					'left': '246px',
					'top': '241px'
				});	
				
				$("#dau").click(function(e){

					var num = Math.floor((Math.random() * 6) + 1), i, ways = [], fork;
					$("#tirada").text(num);

					fork = applyRules(playerPos);

					if(typeof fork != "undefined"){

						for(i = 0; i < fork.length; i++){
							ways = fork[i].split(' - ');
							ways = mathPos(parseInt(ways[0]), parseInt(ways[1]), parseInt(num));

		 					placePlayer(ways);
						}
					}

										
					else{

						var pos = findPosition(playerPos).split(',');
						ways.push(mathPos(parseInt(pos[0]), parseInt(pos[1]), parseInt(num)));

						if(playerPos.includes('inside') && pos[1] == 0)
							ways[0] = [ways[0], positions[0][0]];
						

						else if(playerPos.includes('outside')){

							if(pos[1] == 0)
								ways[0] = [ways[0], positions[parseInt(pos[0]) - 6][5]];

							else if(pos[1] == 5){
								if(playerPos.includes('northeast'))
		    						ways[0] = [ways[0], positions[1][5]];

								else
									ways[0] = [ways[0], positions[parseInt(pos[0]) - 5][5]];
							}
						}

						for(i = 0; i < ways[0].length; i++)
							placePlayer(ways[0][i]);
						
					}
// 				});
			});
		});

		function buildArray(id){
			
			superArray.push(id);

			if(cont%6 == 0){
				positions.push(superArray);
				superArray = [];
			}
		}

		function mathPos(coord_1, coord_2, num){

			var ways = [];
			
			if(positions[coord_1][coord_2].includes('outside')){

				if(coord_2 == 5){

					if(playerPos.includes('inside'))
						num -= 1;
					
    				if(coord_2 - (num - 1) >= 0){
    					return positions[coord_1][coord_2 - num];
    				}
    
    				else{
    					if(playerPos.includes('northeast'))
    						return positions[1][5];

    					else
    						return positions[coord_1 - 6][5];
    				}	
    			}
    
    			else if(coord_2 == 0){

					if(playerPos.includes('inside'))
						num -= 1;
					
    				if(parseInt(coord_2) + num >= 6){
    					if(playerPos.includes('northeast'))
    						return positions[1][5];

    					else
    						return positions[coord_1 - 5][5];
    				}
    
    				else{
    					return positions[coord_1][parseInt(coord_2) + num];
    				}
     			}

    			else{

    				if(coord_2 - num >= 0){	
    					ways.push(positions[coord_1][coord_2 - num]);
    				}
    
    				else{
    					if(playerPos.includes('northeast'))
    						ways.push(positions[1][5]);

    					else
    						ways.push(positions[coord_1 - 6][5]);
    				}

    				if(parseInt(coord_2) + num >= 6){
    					if(playerPos.includes('northeast'))
    						ways.push(positions[1][5]);

    					else
    						ways.push(positions[coord_1 - 5][5]);
    				}
    
    				else{
    					ways.push(positions[coord_1][parseInt(coord_2) + num]);
    				}

    				return ways;
        		}
			}

			else if(positions[coord_1][coord_2].includes('inside')){

				if(coord_2 == 5){		

					if(playerPos.includes('outside'))
						num -= 1;
					
    				if(coord_2 - num
    	    				 >= 0){
    					return positions[coord_1][coord_2 - num];
    				}
    
    				else{
    					return positions[0][0];
    				}
				}

				else if(coord_2 == 0){

					if(playerPos == "center")
						num -= 1;
					
					if(parseInt(coord_2) + num >= 5){
						return positions[coord_1][5];
		 			}

					else{
						return positions[coord_1][parseInt(coord_2) + num];
		 			}
				}

				else{

    				if(coord_2 - num >= 0){
    					ways.push(positions[coord_1][(coord_2 - num)]);
    				}
    
    				else{
    					ways.push(positions[0][0]);
    				}

					if(parseInt(coord_2) + num >= 5){
						ways.push(positions[coord_1][5]);
		 			}

					else{
						ways.push(positions[coord_1][parseInt(coord_2) + num]);
		 			}

		 			return ways;
				}
			}
		}
		
		function placePlayer(id){

    		$("#" + id).data('maphilight', { alwaysOn: true }).trigger('alwaysOn.maphilight');
			$("#" + id).click(function(e){

				playerPos = $(this).attr('id');

				$("#quesera").css({
					'left': e.pageX - 12,
					'top': e.pageY - 12
				});	

				$("area").off('click');
				$("area").data('maphilight', { alwaysOn: false }).trigger('alwaysOn.maphilight');
			});
		}
		
		function findPosition(positionId){

			var i, j;

			for(i = 0; i < positions.length; i++){
				if(_.isArray(positions[i])){
					for(j = 0; j < positions[i].length; j++){
						if(positions[i][j] == positionId){
							return i + "," + j;
						};
					}
				}
			}

			return false;
		}

		function forkRules(){

			//Lista de coordenadas segun si el jugador esta en una posicion clave
			rules = {
				'center': ["1 - 0", "2 - 0", "3 - 0", "4 - 0", "5 - 0", "6 - 0"],
				'inside-east-6': ["1 - 5", "7 - 0", "12 - 5"],
				'inside-southeast-6': ["2 - 5", "7 - 5", "8 - 0"],
				'inside-southwest-6': ["3 - 5", "8 - 5", "9 - 0"],
				'inside-west-6': ["4 - 5", "9 - 5", "10 - 0"],
				'inside-northwest-6': ["5 - 5", "10 - 5", "11 - 0"],
				'inside-northeast-6': ["6 - 5", "11 - 5", "12 - 0"],
			};
		}

		function applyRules(pos){
			if(rules.hasOwnProperty(pos)){
				return rules[pos];
			}
		}
		
	</script>
{% endblock %}